@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

canvas{
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #ccc;
}

h1{
  font-size: 30px;
}

button{
  border: 1px solid black;
  padding: 3px;
}

#dropdown{
  padding-left: 10px;
}

#dropdown select{
  border: 1px solid black;
}